<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Leamonax"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LaunchActivity" android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.edit.NoteEditActivity"
            android:exported="true"
            android:configChanges="uiMode|keyboard|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NotePreviewActivity"
            android:label="@string/preview" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.SignInActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".ui.PictureViewerActivity"
            android:label="@string/edit" />

        <activity
            android:name=".ui.platform.PlatformSmokeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name=".background.NoteSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="NoteSyncService" />

        <activity android:name=".ui.SearchActivity" />

        <receiver
            android:name=".appwidget.NoteAppWidget"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <service
            android:name=".appwidget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".appwidget.RedirActivity"
            android:theme="@android:style/Theme.NoDisplay"/>
    </application>

</manifest>
